
body{
	background-image: url("C:/Users/rishi/OneDrive/Desktop/images/technology-esports.jpg");
	background-size: cover;
}

img{
	height: 30px;
	width: 30px;
	shape-margin:15%;
}

#icon1{
	margin-top: 200px;
}

.input-field{
	display:block;
	margin-top:30px;
	margin-left:30px;
	border-width:0px 0px 1px 0px;
}



.options{
	border-radius: 15px 15px 15px 15px;
	background-color: #FF8C00;
	background-image:linear-gradient(to right,#BA55D3 0%,#FF8C00 100%);
	padding:10px 20px 10px 20px;
	display: inline;
	position:relative;
	bottom:140px;
	left:65px;
	margin-left:20px;
}

.siteIcons{
	position: relative;
	right:85px;
}
div{
	background-color: #FFFFFF;
	width:350px;
	margin:6% auto;
	height:650px;

}

.submit-btn{
	background-color:#FF8C00;
	background-image:linear-gradient(to right,#BA55D3 0%,#FF8C00 100%);
	display: block;
	margin:0 auto;
	margin-top:20px;
	width:150px;
	box-shadow: 2px 2px rgb(128,128,128,0.4);
	border-radius: 7px;

}

.check{
	margin-left:25px;
	margin-top: 25px;
}


#register{
	visibility: hidden;
	margin-bottom:25px;
	position: relative;
	bottom:160px;
}

#btn1{
	margin-left:10px;
}