


body{
	background-image: url("C:/Users/Lenovo/Desktop/images/technology-esports.jpg");
	
	
}

h1{
	color:#FFFFFF;
	font-family: "Comic Sans MS";
	background-color: #6A76B4;
	opacity: 0.6;
}